

@media (max-width:1500px) {
  .nav-items {
    padding: 0 8em;
  }
}
@media (max-width:1000px) {
  .nav-items {
    display: none;
  }
}

@media (max-width:1300px) {
  
  .page-header {
    padding-top: 30px;
    color: var(--bgOrange);
    text-align: center;
    font-size: 40px;
  }
  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }
  .project-card {
    width: 100%;
    height: 300px;
  }
  .project-card {
    background-size: cover;
    background-position: center;
  }
  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 40px;
    width: 100%;
  }
  .project-sub-heading {
    width: 100%;
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 35px;
  }
  .project-card:hover .project-number {
    display: none;
  }
  .project-card:hover .project-content {
    scale: 0.55;
  }
  #project1{
      margin-left: 0;
  }

  #project3{
      margin-left: 0;
  }


}












/* project section  */

  /* making hero section responsive  */

@media (max-width:1300px) {
  .resp{
      max-width: 1200px;
      width:98%;
      margin: auto;
  }
  .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: -1rem;
    padding-bottom: 3rem;
  }
  .hero-section-desc {
    text-align: center;
    margin: auto;
  }

  #btn-top {
    display: none;
  }
  #btn-bottom {
    margin-top: -7rem;
    display: block;
  }
  .hero-section-right {
    margin-top: -6em;
    scale: 0.7;
  }
  .faded-text{
  font-size: 4em;
  bottom:-9%;
  left: 2%;

  }

}
/* Hero section end */

/* Hero Right Section End */


@media (max-width:1024px) {
  .blob-style{
    width: 80%;
  }

    .skill-fade-text{
      font-size: 8em;
      right: 3%;
      bottom: -25.5%;
      
      overflow-y: hidden;
  }

  .skill-container-right{
    /* flex-wrap: wrap; */
    width: 50%;
    height: 600px;
  }

  .skills-logo{
    width: 70px;
    height: 70px;
    transition: all 0.5s;
}

}

@media (max-width:800px){

.skill-fade-text{
  font-size: 7em;
  right: 3%;
  bottom: -4.5%;
}
.skills-container{
    flex-wrap: wrap;
    padding: 5rem;
    margin: 10rem auto;
    margin-bottom: 1rem;
    gap: 30px;

  }
.skill-container-right{
  width: 80%;
  margin: auto;
}

.skill-container-left{
  width: 100%;
  align-items: center;
  padding-bottom: 25px;
}
.blob-style{
  width: 50%;
}

.contactus-heading{
  font-size: 10vw;
  padding-top: 2rem;
}

.contactus-sub-heading{
  font-size: 7vw;
}

.footer-wrapper{
flex-wrap: wrap;
}

}

@media (max-width:500px){

.skills-container{
  position: relative;
  display: flex;
  padding: 2rem;
  margin: 2rem auto;
  gap: 0px;
  width: 90%;
}

.skill-container-right{

gap: 3rem;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;

}
.skills-logo{
margin: 0 0 -19px 0;
}

.skill-fade-text{
  font-size: 5em;
  right: 3%;
  bottom: -5.0%;
}
.skills-logo{
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}


.footer-faded-text{
  position: absolute;
  left:0;
  bottom:0;
  font-size: 7vw;
}

#submit-btn{
display: flex;
font-size: 4vw;
align-items: center;
padding: 1rem;
margin: 0 auto;
margin-bottom: 2rem;
}


.form{
font-size: 3px;
margin: 2rem 2rem 0 0;
}

footer{
width: 100%;
padding: 2rem;
}



}

@media (max-width:480px) {
  .faded-text{
      font-size: 3.5em;
      bottom:-8%;
      left: 2%;
    
      }

  .skill-fade-text{
    font-size: 5em;
    right: 0;
    overflow-y: hidden;
}
.footer-wrapper{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
 
}
.link-wrapper{
justify-content: center;
width: 100%;
margin: auto;
}

.icon-wrapper{
width: 100%;
margin: auto;
justify-content: center;
}

}